*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: slateblue;
    width: 30%;
    height: 30vh;
    margin: 10% auto;
    /* color: white; */

}
/* 
.card{
    display: flex;
} */

#display{
    font-size: 60px;
    color: white;
}

button{
    font-size: 25px;
    padding: 10px;
}